/*!
 * kappr ~ De betaalbare kapper
 * @author: Rutger Laurman (lekkerduidelijk.nl)
 */

/* =HTML5 Boilerplate
 ******************************************************************************/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif;color:#222}body{margin:0;font-size:1em;line-height:1.4}::-moz-selection{background:#fd6a00;color:#fff;text-shadow:none}::selection{background:#fd6a00;color:#fff;text-shadow:none}a{color:#fd6a00}a:visited{color:#fd6a00}a:hover{color:#e86100}a:focus{outline:thin dotted}a:hover,a:active{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}ins{background:#ff9;color:#000;text-decoration:none}mark{background:#ff0;color:#000;font-style:italic;font-weight:bold}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:"";content:none}small{font-size:85%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}ul,ol{margin:1em 0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0}img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:0;margin:0;padding:0}label{cursor:pointer}legend{border:0;*margin-left:-7px;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*width:13px;*height:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top;resize:vertical}input:invalid,textarea:invalid{background-color:#f0dddd}table{border-collapse:collapse;border-spacing:0}td{vertical-align:top}


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* =Primary styles
 ******************************************************************************/

  header{
    background-color:#fff;
    border-top:8px solid #f1f1f1;
  }

  .wrap{ width:780px; margin:0 auto;}

  #logo{
    width:240px;
    margin:20px auto;
  }
  .js #wrap{
    opacity:0;
  }

  .wf-loading {
  }

  .lt-ie9.wf-loading nav a,
  .lt-ie9.wf-loading section p{ visibility: visible; }

  .wf-loading nav a,
  .wf-loading section p{
    visibility: hidden; 
  }

  .wf-active nav a{
    visibility: visible;
  }

/* =Navigation
 ******************************************************************************/
  #access{
    background-color:#fff;
    height:50px;
    width:100%;
    text-align:center;
    border-top:1px solid #dfdfe1;
    border-bottom:1px solid #dfdfe1;
    box-shadow:1px 0 5px rgba(0,0,0,0.3);

    z-index:50;
    position:relative;
  }
    #access ul{
      width:500px;
      margin:0 auto;
      text-align:center;
    }
    #access li{
      display:inline;
      line-height:2.8;
    }
    #access a{
      margin:5px 0;
      padding:4px 10px;
      font-size:18px;
      color:#222;
      text-decoration:none;
      border-radius:16px;
      background-color:#fff;
    }
    #access a:hover,
    #access a.link-active{
      color:#FD6A00;
    }

  #access.sticky{
    position: fixed;
    top: 0px;
  }

  #main.sticky{
    margin-top:75px;
  }


/* =Fills
  *****************************************************************************/

    div.fill{
      width:780px;
      margin:0 auto;
      position:relative;
      z-index:10;
    }
      div.fillmask{
        width:780px;
        height:100px;
        z-index:30;
        position:absolute;
        background:url(../img/fillmask.png) no-repeat center 0 ;
      }

    #fill1{
      width:780px;
      height:450px;
      overflow:hidden;
    }
      #fill1 .fillmask{
        z-index:30;
        margin-top:350px;
      }

      #fill1 div{
        position:absolute;
      }
        #fill1-scissor{
          width:49px; 
          height:61px; 
          background:url(../img/fill1-scissor.png) no-repeat top left;

          top:-30px;
          left:44%;
          z-index:20;
       }

        #fill1-dashedline{
          width:780px; 
          height:450px; 
          background:url(../img/fill1-dashedline.png) no-repeat top left;
          z-index:10;
        }

        #fill1-shapes2{ 
          width:780px; 
          height:450px;
          background:url(../img/fill1-shapes2.png) no-repeat 50% 14px; 
        }
        #fill1-shapes1{ 
          width:780px; 
          height:450px;
          background:url(../img/fill1-shapes1.png) no-repeat 50% 67px;
        }

    #fill2{
      margin-top:-50px;
      width:780px;
      height:830px;
/*      background:url(../img/fill2.jpg) no-repeat center top ;*/
    }
      #fill2 .fillmask{
        margin-top:760px;
      }

      #fill2 div{
        position:absolute;
      }
      #fill2-lines{
        z-index:10;
        width:780px; 
        height:860px;
        background:url(../img/fill2-lines.jpg) no-repeat 50% 1px;
      }
      #fill2-comb{
        z-index:20;
        width:780px;
        height:860px;
        background:url(../img/fill2-comb.png) no-repeat 60% -100px;
      }


    #fill3{
      margin-top:-50px;
      width:780px;
      height:710px;
      background:url(../img/fill3.jpg) no-repeat 50% -340px;
    }
      #pricetags div{ position:absolute; }

      #fill3 .fillmask{
        margin-top:590px;
        /*border:thin solid red;*/
      }
      #fill3-care{
        width:148px;
        height:148px;
        background:url(../img/fill3-care.png) no-repeat center top;
        margin-left: 168px;
        margin-top: 62px;
      }
      #fill3-styling{
        width:126px;
        height:125px;
        background:url(../img/fill3-styling.png) no-repeat center top;
        margin-left: 28px;
        margin-top: 25px;
      }
      #fill3-circles{
        width:380px;
        height:270px;
        background:url(../img/fill3-circles.png) no-repeat center top;
        margin-left: 10px;
        margin-top: 10px;
      }

    #fill4{
      width:780px;
      height:890px;
      background:url(../img/fill4.jpg) no-repeat center top ;
    }
      #fill4 div{ position: absolute; }
      #fill4 .fillmask{
        z-index:30;
        margin-top:490px;
      }
      #fill4-circle1{
        width:780px;
        height:590px;        
        background:url(../img/fill4-circle1.png) no-repeat 80px 170px;
      }
      #fill4-circle2{
        width:780px;
        height:590px;        
        background:url(../img/fill4-circle2.png) no-repeat 530px 80px;
      }
      #fill4-circleblur{
        width:780px;
        height:590px;
        background:url(../img/fill4-circleblur.png) no-repeat center top ;
      }
      #fill4-circlesharp{
        width:780px;
        height:590px;
        background:url(../img/fill4-circlesharp.png) no-repeat center top ;
      }

    #overons{
      height:820px; /* 370 + 450 */
    }

    /* fixed heights */
    #prijzen{
      height:1546px;/* 716 + 530 */

      z-index:20;
    }
    #prijzen .wrap{
      /*height:1000px;*/
    }
    #producten{
      height:1303px; /* 613 + 690 */
    }
 
    #locatie{
      height:1400px; /* 690 + 410 */
    }
    #locatie .wrap{ }
    #locatie .content{
      height:660px;
    }

    #contact{
      height:370px;
    }


/* =Section defaults
  *****************************************************************************/

  section{
    width:100%;
    min-height:370px;
    position:relative;
    z-index:20;
    /*overflow:hidden;*/
  }
  section .wrap{ position:relative; }

  section h1{
    text-align:center;
    font-size:55px;
    color:#010101;
    margin:0;
    padding:75px 0 0 0;
    font-weight:normal;
    letter-spacing:-0.05em;
  }
  section p{
    width:500px;
    text-align:center;
    margin:0 auto;
    padding:0;
    font-family: "facitweb-n2","facitweb",sans-serif;
    font-style: normal;
    font-weight: 200;
  }


/* =Over ons
  *****************************************************************************/
  #overons .content{
    background:#fd6a00 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALElEQVQImWP8G8Xwn4GBgYFBgAEOmBgEoAIfkAUZoAJIEkxwAQZ07TAAVQ0A2k4HgAyYu9YAAAAASUVORK5CYII=) repeat;
    position:relative;
    z-index:10;
  }
    #overons hgroup{
      width:650px;
      margin:0 auto;
      padding-top:70px;
    }
    #overons h1, #overons h2{
      color:#fff;
      text-align:center;
      font-weight:normal;
      padding:0;
      margin:0 auto;
      line-height:1.3;
    }
    #overons h1{
      font-size:58px;
      line-height:53px;
      width:550px;
      font-family: "adelle",serif;
      font-style: normal;
      font-weight: 600;
    }
      #overons h1 em{
        font-family: "adelle",serif;
        font-style: italic;
        font-weight: 600;
      }
    #overons h2{
      color:#fff;
      padding-top:10px;
      font-family: "facitweb-n2","facitweb",sans-serif;
      font-style: normal;
      font-weight: 200;
    }

/* =Prijzen
  *****************************************************************************/

  #prijzen{}

    #prijzen p{

    }

  #pricedata{
    background:url(../img/priceblock.png) no-repeat top left;
    width:704px; /* 784 */
    height:453px; /* 523 */
    padding:30px 40px 40px 40px;
    margin:40px 0 0 0;
  }
    #pricedata ul{
      list-style:none;
      padding:0;
      margin:0;
     }
    #pricedata .product{
      float:left;
      width:330px;
      border-bottom:1px solid #ccc;
      padding:10px 0;
    }
    #pricedata .column{
      float:right;
      
      width:330px;
    }
    #pricedata .column.first{
      float:left;
      margin-right:10px;
    }

    #pricedata hgroup{
      clear:both;
      float:left;
      width:330px;
    }
    #pricedata h2{
      font-size:18px;
      float:left;
      padding:0;margin:0;
      font-weight:normal;
    }
    #pricedata h3{
      color:#fd6a00;
      font-size:20px;
      padding:0;margin:0;
      float:right;
      font-weight:normal;
      font-family: "facitweb-n4","facitweb",sans-serif;
      font-weight: 400;
    }
    #pricedata em{
      color:#949494;
      font-size:13px;
      display:block;
      font-style:normal;
      text-align:center;
    }
    #pricedata .product em{ width:220px; text-align:left; }

    #pricedata em.note{
      padding-top:20px;
      clear:both;
      width:500px;
      margin:0 auto;
    }


/* =Producten
  *****************************************************************************/

  #producten .content{
    background:url(../img/products-foot.png) repeat-x bottom left;
    padding-bottom:20px;
  }
    #producten .wrap{
      width:960px;
      overflow: hidden;
    }
    #producten p{ width: 550px; }
    #products{
      margin-top:40px;
      padding-bottom:20px;
      height:420px; /* 350 */
      width:780px;
      overflow:hidden;
    }
    #pricetags{
      position:relative;
      margin-left:120px;
    }
    #hairproducts{
      position:absolute;
      z-index:30;
      margin-top:70px;
    }
    /*/.lt-ie9 #hairproducts{ background:url(../img/hairproducts.gif) no-repeat top left; }
    .lt-ie9 #hairproducts img{ display:none; } */

/* =Locatie
  *****************************************************************************/

  #locatie{
    background:#fd6a00 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALElEQVQImWP8G8Xwn4GBgYFBgAEOmBgEoAIfkAUZoAJIEkxwAQZ07TAAVQ0A2k4HgAyYu9YAAAAASUVORK5CYII=) repeat;
    background:url(../img/locatie.gif) repeat-x top;
    color:#fff;
  }
    #locatie h1{
      padding-top:70px;
      color:#fff;
    }
    #locatie p{
      width:600px;
    }

    #map,
    #mapcanvas{
      position:relative;
      color:#000;
    }

    #map{
      background:url(../img/block.png) no-repeat top left;
      width:758px; /* 784 */
      height:389px; /* 423 */
      padding:16px 12px 14px 14px;
      margin-top:40px;
      position:absolute;
    }
    aside,
    #mapcanvas{
      position:absolute;
      width:754px;
      height:377px;
      z-index:30;
    }
    #mapcanvas{
      background:url(../img/mapcanvas.jpg) no-repeat top left;
      z-index:20;
    }
    .hasmap #mapcanvas{ background-image:none; }

    aside{
      background:url(../img/mapaside-trans.png) repeat;
      width:200px;
      height:337px;
      padding:20px;
    }
      aside h2{
        margin:0 0 10px 0;padding:0;
      }
      #logosmall{
        background:url(../img/logosmall.png) no-repeat top left;
        width:91px;
        height:34px;
      }

    #opening{}
    #opening p{
      width:auto;
      text-align:left;
      margin:0 0 5px 0;padding:0;
    }
    #opening h2{
      margin-top:25px;
      margin-bottom:10px;
      font-size:18px;
    }
    aside address{
      font-style:normal;
      font-size:15px;
    }

/* =Contact
  *****************************************************************************/

  #contact p{
    font-size:30px;
  }
  #contact em{
    color:#fd6a00;
    font-style:normal;
  }

/* =Footer
 *****/

  footer{
    background-color:#f1f1f1;
    padding-top:80px;
    background:#f2f2f2 url(../img/footer-shadow.jpg) no-repeat 50% 25px;
  }
  footer p{
    text-align:center;
    background-color:#d8d8d8;
    border-top:1px solid #fff;
    padding:10px;margin:0;
    color:#999;
    font-size:12px;
  }
  footer p a,
  footer p a:visited{ color:#999;}





/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}


/* =Helper classes
 ******************************************************************************/
  .ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;*line-height:0}.ir br{display:none}.hidden{display:none!important;visibility:hidden}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}.clearfix{*zoom:1}

/* =Print
 ******************************************************************************/
  @media print{*{background:transparent!important;color:black!important;box-shadow:none!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100%!important}@page{margin:.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}